.titleText {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 100px;
    border: 4px dashed #fff;
}

.titleText>span {

    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 900;

}

form {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 300px;
    border: 4px dashed #fff;

}

.mailDown {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 300px;
    transform: translate(-50%, -50%);
    /*!border: 4px dashed #fff;*/
}

form p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Arial;
}



form button {
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}

form button:hover {
    background: #149174;
    color: #0C5645;
}

form button:active {
    border: 0;
}

.my-form>.formControle {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*! height: ; */
}

.formControle {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
}

.my-form>.formControle>input {
    height: 30px
}

.my-form>.formControle>#userfile {
    margin-top: 10px;
    text-align: center;
}

.input-css {
    margin: 5px 5px
}


#email {
    border: 1px solid black;
    border-style: none none solid none;
    height: 35px;
}

#yourName {
    border: 1px solid black;
    border-style: none none solid none;
    height: 35px;
}


.file-target {
    display: block;
    /*! padding: 14px 45px; */
    background: #39D2B4;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    height: 120px;
    line-height: 120px;
}


.input-file {
    position: absolute;
    top: 5;
    left: 0;
    width: 50.4vh;
    opacity: 0;
    padding: 11px 0;
    /*! border: 1px solid black; */
    cursor: pointer;
    height: 96px;
}


.msg_file {
    margin: 0;
    color: black;
}

.msg_file:not(:empty) {
    margin: 0em 0;
}

.msg_file {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}

.msg_file:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

.sendbtn {
    box-shadow: none;
    border: none;
    height: 70px !important;

}


.fileBox {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 25vh;
    border: 1px solid #e6e6e6;

}

.fileBox>.titleBox {
    /*! margin-bottom: 10px; */
    padding: 10px;
    background: #f2f2f2;
    text-align: center;
    vertical-align: middle;

}

.fileBox>.titleBox {
    /*margin-left: 20vh;*/


}

.boxContentFile {
    overflow-y: auto;
    height: 20vh;
}

.boxItemFile {
    display: flex;
    vertical-align: middle;
    margin-top: 10px;

}

.btnDeleteFile {
    margin-top: 10px;
    margin-right: 10px;
    width: 50px;

}

.titleItemFile {
    text-align: left;
}